@font-face {
    font-family: InfoTextWebPro;
    src: url('fonts/InfoTextWebPro.woff');
}
.custom-prev, .custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
    padding-top: 10px;
    margin: 0 25px;
    cursor: pointer;
    
}

a[download] p{
    max-width: 80vw;
    overflow-wrap: break-word;
}

*{
    margin: 0;
    font-family: InfoTextWebPro;
    box-sizing: border-box;
}


body{
    overflow-x: hidden;
}
.logo{
    padding: 10px;
    display: flex;
    justify-self: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    background-color: white;
    margin-bottom: 10px;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    align-items: center;
    padding: 10px
    
}

a{
    text-decoration:none;
    color: black;
}
.links a{
    
    
    display: inline;
    padding: 25px 20px;
    font-weight: 100;
    transition: 0.3s;
    
}

.links a:hover{
    border: 1px solid green;
    border-radius: 10% / 50%;
}
li a:hover{
    border: 1px solid green;
    border-radius: 10% / 50%;
}
li a{
    transition: 0.2s;
}
.ichi img{
    height: 100dvh;
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    filter: brightness(70%);
}


.text-one{
    position:absolute;
    top:50%;
    left:50%; 
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    color: cornsilk;
    white-space:nowrap;
    
}

h1{
    font-size:106px;
    font-weight: 100;
    
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 4rem 3rem;
    align-items: center;
    margin: 0 auto;
}

.footer .logo{
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.column li{
    display: flex;
    padding-bottom: 1rem;
}

.Copyright{
    margin-top: 3rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    
}

hr{
    max-width: 100vw;
    width: 100%;
    margin: 14px 0;
}

.logo-str a:hover img{
    filter: invert(12%) sepia(99%) saturate(6637%) hue-rotate(18deg) brightness(104%) contrast(110%);
}

.grey{
    color: #9F9F9F;
}

.lightgrey{
    color: #DEDEDE;
}

.red{
    color: #E3000F;
}

.darkred{
    color: #C9000D;
}

h1{
    font-size: 106px;
}

h2{
    font-size: 60px;
}

h3{
    font-size: 40px;
}

p{
    font-size: 18px;
}

.button-one{
    padding: 25px 45px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.button-one:hover {
    background-color:#fff;
    color: black;
    transition: 0.7s;
    border-color: black
}


.text-one h1{
    padding: 40px;
}

.swiper img{
    height: 100dvh;
    object-fit: cover;
    width: 100%;
    vertical-align: middle;
    filter: brightness(70%);
    position: relative;
    cursor: -webkit-grab;
    
}

.swiper{
    box-shadow: 0 0 30px 5px rgba(0,0,0,0.2);
}






.custom-next {
    right: 0;
    
}

.custom-prev {
    left: 0;
}

.custom-prev::before, .custom-next::before {
    content: '';
    width: 8rem;
    height: 1px;
    position: relative;
    top: -10px;
    display: flex;
    z-index: 20;
    background-color: rgba(255,255,255,0.5);
}

.right{
    text-align: right;
}



.book {
    width: 30%;
    height: 500px;
    
    flex: none;
    margin: 0 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 4rem 1rem rgba(0,0,0,0.2);
    
}

.book div{
    display: flex;
    flex-flow: column wrap;
}

.books-parent{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    align-items: stretch; 
    padding: 80px;
    justify-content: center;
    
}

.book img{
    width: 100%;
    
}

.divider{
    height: 1px;
    background-color: lightgrey;
    border: none;
}

.text{
    padding: 7% 14%;
    height: 60%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;

}



.t-main{
    font-weight: 900;

    
}

.t-des-main{
    font-weight: 100;
}

.text h1{
    font-size: 18px;
}

.after-pfeil{
    font-size: 16px;
    font-weight: 900;
    display: flex;
    align-items: center;
}

.after-pfeil::after{
    content: '＞';
    padding-left: 0.5rem;
    color: red;
    font-weight: 600;
}

.button-areal{
    display: flex;
    justify-content: space-around;
    margin-left: 5vw;
    margin-bottom: 5vh;
}

.one-button{
    padding: 3vh 5vw;
}

#oneStyle{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
}

.areal{
    display: none;
    width: 100%;
}

.areal.active {
    display: flex;
}

.image-areal{
    width: 50%;
    
    display: flex;
    flex: 1 1 auto;

}

.image-areal img{
    display: flex;
    flex: 1 1 auto;
    max-width: 50vw;
}

.one-button{
    font-size: 24px;
    background-color: white;
    border: none;
    color: lightgrey;
}

.one-button.active{
    color: black;
    font-weight: 900;
}

.button-areal .one-button.active:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px; 
    background-color: crimson; 
    margin-top: 5px;
}

.text-areal{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.text-areal p{
    
    padding: 0 15vw 0 5vw;
    
}

strong{
    font-size: 20px;
}

#blumen{
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: center;
    
}

.sortiment{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 30%;
    margin-top: 5dvh;
    padding: 1vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.không_ai_hiểu_toi{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
    text-align: center;
    
    
}


.imgPlaceholder img{
    margin-top: 15dvh;
    width: 100%;
    z-index: 2;
}

.btnSortiment{
    margin: 5% 0 3% 0;
}

.btnSortiment{
    padding: 25px 45px;
    background-color: transparent;
    border: 1px solid black;
    color: black;
    display: flex;
    align-items: center;
    position: absolute;
    top: 28%;
    bottom: 72%;
}

.btnSortiment:hover {
    color: #fff;
    background-color: #E3000F;
    transition: 0.7s;
    border-color: #E3000F;
    -webkit-animation: color 4s forwards;
    
    animation-iteration-count: infinite;
    
}


@-webkit-keyframes color {
     0% { background-color: white; color: rgb(121, 53, 53); border-color: black;}
     15%   { background-color: #891652; border-radius: 3%; border-color: #EABE6C}
     60%  { background-color: red;border-radius: 20%; transform: scale(1.1); color: #fff; border-color: gold; font-size: 14px;}
     90% { background-color: #891652; border-radius: 3%; border-color: #EABE6C}
     100% {background-color: white; color: rgb(121, 53, 53); border-color: black}
    
}



.sortiment:hover .không_ai_hiểu_toi{
    transform: translate(0, -20px);
    transition: 0.5s;
}


.sortiment:hover .không_ai_hiểu_toi h3{
    transform: scale(0.65);
    transition: 0.5s;
}

.sortiment:hover img{
    transform:scale(1.15);
    transition: 0.5s;
    
}


.Wache{
    width: 100%;
    display: flex;
    margin: 100px 0;
}

.Prinz{
    width: 50%;
}

.Prinz img{
    width: 100%;
}

.itdontreallymatter{
    width: 100%;
    padding: 0 10vw 0 5vw;
    line-height: 25px;
}

.Prinzessin{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.mehrErfahrer{
    background-color: #E3000F;
    color: white;
    border: none;
    width: 11rem;
    height: 4rem;
    transition: 0.5s;
}
.mehrErfahrer:hover {
    
    background-color: #C9000D;
    transition: 0.7s;
    width: 12rem;
    height: 4.5rem;
    
}

#eight{
    width: 80%;
    margin: 100px auto;
    
}


.matryoshka img{
    
    transform: rotate(180deg) scale(0.7);

}

.on img{
    transform: rotate(0deg) scale(0.75);
}

.hidden-reich{
    display: none;
}

.on .hidden-reich{
    display: flex;
}

.visible-reich{
    display: flex;
    flex-flow: column wrap;
}

.matryoshka{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 5px;
}

.matryoshka__content {
    display: flex;
    justify-content: space-between;
}

.downloads{
    display: flex;
    flex-flow: column wrap;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: 100%;
}

[download]{
    display: flex;
    flex-flow: raw wrap;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}


.attack_on_titan_final_season_part_3_of_the_7th_part { 
    position:relative; 
    
}

#myVideo{
    width: 100%;
    
    
}
.attack_on_titan_final_season_part_3_of_the_7th_part video {
    position:relative;
    z-index:0;
    filter: brightness(50%);
    
    object-fit: contain;
    overflow: clip;
    
}
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: cornsilk;
    width: 70%;
}



/*

Ab hier mach ich alles responsive oder in anderen Worten 
"MMOOBbiiLLEE ffRREENNDDLLYY" wie lustig

*/
/*Tablets oder so*/

@media only screen and (max-width: 900px) {
    .text-one h1 {
        font-size: 40px;
      }
      .custom-prev, .custom-next{
          
          top: 70%;
      }
      .books-parent{
          width: 100vw;
      }
  
      .book{
          width: 65vw;
          height: 60vh;
          margin-bottom: 10%;
          border-radius: 10%;

      }

      .book img{
        border-top-left-radius: 15%;
        border-top-right-radius: 15%;
      }
      .active{
          display: flex;
          flex-direction: column;
      }
      .text-areal{
          width: 100vw;
      }
      .text-areal *{
        font-size: 25px;
    }
      .image-areal img{
          max-width: 100vw;
      }
      .text{
          text-align: center;
      }
      .text-areal p {
          padding: 2vh 5vw 5vh 5vw;
          
      }
      
      .after-pfeil{
          display: flex;
          justify-content: center;
      }
  
      .button-areal{
          margin-bottom: 0;
      }
      .one-button{
          font-size: 1.5rem;
          
      }
      .btnSortiment {
        padding: 2rem 3rem;
        background-color: transparent;
        border: 1px solid black;
        color: black;
        display: flex;
        align-items: center;
        position: absolute;
        top: 25%;
        bottom: 75%;
    }

    .links a{
        display: none;
    }

    header{
        display: flex;
        justify-content: center;
    }
  
      .after-pfeil::after{
          content: '<';
          padding-left: 5rem;
          color: red;
          font-weight: 600;
      }
      .after-pfeil::before{
          content: '>';
          padding-right: 0.5rem;
          color: red;
          font-weight: 600;
      }
      .after-pfeil{
        z-index: 2;
      }
  
      hr{
          max-width: 100vw;
          width: 100%;
          margin: 0 0;
      }
      #blumen{
          flex-direction: column;
      }
      .sortiment:hover .không_ai_hiểu_toi {
          transform: translate(0, -1rem);
          transition: 0.5s;
      }
      .imgPlaceholder img {
          margin-top: 20dvh;
          width: 100%;
          z-index: 2;
      }
  
      .Wache{
          display: flex;
          flex-direction: column;
      }
  
      .Prinz{
          width: 100%;
      }
  
      .Prinzessin{
          width: 100%;
          text-align: center;
          
      }
  
      .itdontreallymatter {
          width: 100%;
          padding: 5vh;
      }

      .links a{
        padding: 1rem 1rem;
        font-size: 1rem;
      }
      
  
  
  
  
      .attack_on_titan_final_season_part_3_of_the_7th_part{
          max-width: 100vw;
      }
  
      .attack_on_titan_final_season_part_3_of_the_7th_part h2{
          font-size: 1.5rem
      }
      .attack_on_titan_final_season_part_3_of_the_7th_part h3{
          font-size: 1rem
      }
      .on{
          max-width: 90vw;
          margin-left: -0
      }
  
      .container{
          justify-content: center;
      }
  
      .container ul{
              display: block;
              list-style-type: disc;
              margin-block-start: 0;
              margin-block-end: 0;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              padding-inline-start: 0;
              unicode-bidi: isolate;
  
      }
  
      .column{
          margin-left: 5vw;
          text-align: center;
      }
    .custom-prev, .custom-next{
        
        top: 70%;
    }
  }


/*Handys*/
@media only screen and (max-width: 600px) {

    .text-one h1 {
      font-size: 40px;
    }
    .custom-prev, .custom-next{
        
        top: 70%;
    }
    .books-parent{
        width: 100vw;
    }

    .book{
        width: 80vw;
        height: 60vh;
        margin-bottom: 10%;
        border-radius: 10%;
    }
    .active{
        display: flex;
        flex-direction: column;
    }
    .text-areal{
        width: 100vw;
    }

    .image-areal img{
        max-width: 100vw;
    }
    .text{
        text-align: center;
    }
    .text-areal p {
        padding: 2vh 5vw 5vh 5vw;
    }
    .after-pfeil{
        display: flex;
        justify-content: center;
    }

    .button-areal{
        margin-bottom: 0;
    }
    .one-button{
        font-size: 1rem;
        
    }

    .after-pfeil::after{
        content: '<';
        padding-left: 5rem;
        color: red;
        font-weight: 600;
    }
    .after-pfeil::before{
        content: '>';
        padding-right: 0.5rem;
        color: red;
        font-weight: 600;
    }

    hr{
        max-width: 100vw;
        width: 100%;
        margin: 0 0;
    }
    #blumen{
        flex-direction: column;
    }
    .sortiment:hover .không_ai_hiểu_toi {
        transform: translate(0, -1rem);
        transition: 0.5s;
    }
    .imgPlaceholder img {
        margin-top: 20dvh;
        width: 100%;
        z-index: 2;
    }

    .Wache{
        display: flex;
        flex-direction: column;
    }

    .Prinz{
        width: 100%;
    }

    .Prinzessin{
        width: 100%;
        text-align: center;
        
    }

    .itdontreallymatter {
        width: 100%;
        padding: 5vh;
    }

    [download]{
        flex-flow: column wrap;
        
    }

    




    .attack_on_titan_final_season_part_3_of_the_7th_part{
        max-width: 100vw;
    }

    .attack_on_titan_final_season_part_3_of_the_7th_part h2{
        font-size: 1.5rem
    }
    .attack_on_titan_final_season_part_3_of_the_7th_part h3{
        font-size: 1rem
    }
    .on{
        max-width: 90vw;
        margin-left: -3vw
    }
    #myVideo{
        width: 100vw;
        
        
    }

    .container{
        justify-content: center;
    }

    .container ul{
            display: block;
            list-style-type: disc;
            margin-block-start: 0;
            margin-block-end: 0;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            padding-inline-start: 0;
            unicode-bidi: isolate;

    }

    .column{
        margin-left: 5vw;
        text-align: center;
    }
    .links a{
        padding: 1rem 1rem;
        font-size: 1rem;
      }
  }